{% extends 'base.html.twig' %}

{% block title %}Hello ServerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello create {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/wamp64/www/moonco/src/Controller/ServerController.php'|file_link(0) }}">src/Controller/ServerController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/wamp64/www/moonco/templates/server/index.html.twig'|file_link(0) }}">templates/server/index.html.twig</a></code></li>
    </ul>
</div>
<div>
        <button id="autoload">AutoLoad</button>
        <div id="suggestion"></div>
    {{ form_start(movieForm) }}
        {{ form_label(movieForm.name) }}
        {{ form_widget(movieForm.name) }}
        {{ form_errors(movieForm.name) }}
        {{ form_label(movieForm.categoryInput) }}
        {{ form_widget(movieForm.categoryInput) }}
        {{ form_errors(movieForm.categoryInput) }}
        {# {{ form_label(movieForm.description) }}
        {{ form_widget(movieForm.description) }}
        {{ form_errors(movieForm.description) }}
        {{ form_label(movieForm.slugInput) }}
        {{ form_widget(movieForm.slugInput) }}
        {{ form_errors(movieForm.slugInput) }} #}
        <button type="submit">Envoyer</button>
    {{ form_end(movieForm) }}
        <div id="imgContainer"><img></img></div>
</div>

{# <form id="upload-form">
    <label for="name">Name</label> <input id="name" type="text" name="name"><br>
    <label for="file">File</label> <input id="file" type="file" name="file">
    <input type="submit">
</form> #}
<p>Progress: <span id="progress-value"></span>%</p>
<p id="upload-complete"></p>
<p id="errors"></p>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('Assets/js/addMovie.js') }}"></script>
{% endblock %}